<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forget ID</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>

    <div class="register">
        <h1>Forget ID</h1>
        <form action="{{ url_for('forgetID') }}" method="post" autocomplete="off">
            <div>
            {% if mesage is defined and mesage %}
                <div class="alert alert-warning">{{ mesage }}</div>
            {% endif %}
            <div class="form-group">
                <label for="country" id = "oldPassLabel"> Email:</label>
                <input type="email" class="form-control" name="IDEmail">
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            {%if message == "Please do reCaptcha"%}
            <div class="form-group">
                <label for="country" id = "oldPassLabel">Username:</label>
            </div>
            <br>
            <div align="center">
			{{ recaptcha }}
            </div>
			{% if messages %}
            <ul class=flashes>
                <li class="{{ category }}"> test </li>
                
            </ul>
            {% endif %}
            {% endfor %}
			{% endwith %}
            {%else%}
            <div class="form-group">
                <label for="country" id = "oldPassLabel">Username:</label>
                {% with messages = get_flashed_messages(with_categories=true) %}
			    {% if messages %}
				<ul class=flashes>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
				</ul>
			{% endif %}
			{% endwith %}
            </div>
            <br>
            <div align="center">
			{{ recaptcha }}
            </div>
            {%endif%}
            <div align="center">
                <br>
            <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Update</button>
            </div>
        </div>
        </form>
</body>

</html>
