{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="jumbotron text-center p-4">
        <h2>2FA Demo</h2>
      </div>
    </div>
    <div class="col-lg-5" style="display : none;">
      <form>
        <div>
          <h5>Instructions!</h5>
          <ul>
            <li>Select time-based authentication.</li>
            <li>Submit the generated key in the form.</li>
          </ul>
        </div>
        <div class="form-group" class="text-center">  
          <label for="secret">Secret Token</label>
          <input type="text" class="form-control" id="secret" value="{{ secret }}" readonly>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" onclick="copySecret()">Copy Secret</button>
        </div>
      </form>
    </div>
    <div class="col-lg-7">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <form id="check">
        <div class="form-group" align="right  ">
          <label for="otp">Generated OTP</label>
          <input type="hidden" name="secret" value="{{ secret }}" align="right"required>
          <input type="" class="form-control" id="otp" name="otp" align="right "required>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary" id="validate" align="right  ">Authenticate User</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function copySecret() {
    /* Get the text field */
    var copyText = document.getElementById("secret");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    /* Copy the text inside the text field */
    document.execCommand("copy");

    alert("Successfully copied TOTP secret token!");

  }

   var reply_click = function()
    {
    var user_key = $('#otp').val();
    var secret_val=$('#secret').val();
    if (user_key!=secret_val){
              alert("Invalid !!! ");
     }
    else{
         window.location.href = "/MyWebApp/home";
        }
    }
    document.getElementById('validate').onclick = reply_click;
</script>

{% endblock %}