{% extends "home.html" %}
{% from "FormMacros.html" import render_field %}

{% block title %}  {% endblock %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">

    <!-- Custom fonts for this template-->

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <!-- Custom styles for this page -->



    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js-utilities/demo/chart-area-demo.js') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js-utilities/demo/chart-pie-demo.js') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css-utilities/sb-admin-2.min.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<div class="container-fluid" style="margin-bottom: 10px;">
<div class="bg-gradient-dark text-white " style="padding: 35px;">
    <h1 class="h3 mb-2 " style=" color:white;">Notes</h1>
    <p class="mb-4" >Simply taking down notes. What else could it be?</p>
</div>
</div>
<div class="container" style="min-width: 95%;">

    <div class="row">


        {% for i in user_notes %}

        <div class="col-sm-4" style="min-width: 200px;overflow-wrap: break-word;">
            <div class="col-12 shadow p-3 mb-5 bg-white rounded" >
                <b>{{ user_notes[i].get_title() }}</b>
                <p style="width: 400px; word-wrap: break-word; min-width: 100%;
                width: 0;">{{ user_notes[i].get_description() }}</p>
                <br>
                <p class="m-0">Created On: <b>{{ user_notes[i].get_time_added() }}</b></p>
                <p>Updated On: <b>{{ user_notes[i].get_time_updated() }}</b></p>
                <form action="/deleteNotes" class="d-inline-block" method="POST">
                    <input type="hidden" name="uuid" value="{{ user_notes[i].get_id() }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>



            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#M-{{ user_notes[i].get_id() }}">
            Update
          </button>

            </div>
        </div>


        <div class="modal fade" id="M-{{ user_notes[i].get_id() }}" tabindex="-1" role="dialog" aria-labelledby="{{ user_notes[i].get_id() }}Label" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="{{ user_notes[i].get_id() }}Label">Update Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="POST" id="{{ user_notes[i].get_id() }}" action="/updateNotes">
              <div class="modal-body">
                  <input type="hidden" name="uuid" value="{{ user_notes[i].get_id() }}">
                 <label for="title">Update Title: </label><br>
                      <input type="input" name = "title" value="{{ user_notes[i].get_title() }}" class="form-control"  >
                    <label for="description">Update Description: </label><br>
                      <textarea rows="5" cols="10" name="description" form="{{ user_notes[i].get_id() }}" class="form-control">{{ user_notes[i].get_description() }}</textarea>


                  </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update Note</button>
              </div>
          </form>
            </div>
          </div>
        </div>










        {% endfor %}



  <div class="col-sm-4" style="min-width: 250px;">
    <button type="button" onclick="myFunction()" class="btn btn-light shadow" data-toggle="modal" data-target="#createNotes" style=" height: 222px;padding-right: 30%;padding-left: 30%;">
        <img src="static/img/add_notes.png">
      </button>
      </div>

  <!-- Modal -->
  <div class="modal fade" id="createNotes" tabindex="-1" role="dialog" aria-labelledby="createNotesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createNotesLabel">Add Notes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
        <div class="modal-body">


                {{ render_field(add_notes_form.title, class = "form-control") }}
                {{ render_field(add_notes_form.description, class = "form-control")}}

            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </form>
      </div>
    </div>
  </div>

      </div>

</div>
<script>
function myFunction() {
  document.getElementById("CreateNotes");
}


</script>
{% endblock %}
