<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Phone Number</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>

    <div class="register">
        <h1>Phone Number</h1>
        <div class="links">
          <a href="{{ url_for('email') }}">Email</a>
          <a href="{{ url_for('phone_num') }}" class="active">Phone Number</a>
          </div>
        <form action="{{ url_for('phone_num') }}" method="post" autocomplete="off">
            <div>
            {% if mesage is defined and mesage %}
                <div class="alert alert-warning">{{ mesage }}</div>
            {% endif %}
            <div class="form-group">
                <label for="country" id = "oldPassLabel">Phone number:</label>
                <input type="text" name="number" size = '8' class="form-control" id="old_pass" name="old_pass" required>
                
                <div align="center" style="margin-bottom: 10px;">
                <button type="submit" class="btn btn-primary">Get OTP</button>
                </div>
        </div>
        </form>
</body>

</html>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}