<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.7.1/css/all.css'>
</head>
<body>
<div class="register">
    <h1>Register</h1>
    <div class="links">
        <a href="{{url_for('login') }}">Login</a>
        <a href="{{url_for('register') }}" class="active">Register</a>
    </div>
    <form action="{{url_for('register') }}" method="post" autocomplete="off">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="passwordd" id="password" placeholder="password" required>
        <label for="email">
            <i class="fas fa-envelope"></i>
        </label>
        <input type="email" name="emailb" placeholder="email" id="email" required>
        <label for="phone">
            <i class="fas fa-phone"></i>
        </label>
        <input type="text" name="phoneno" placeholder="Phone Number" required>
        <div class="msg">{{msg}}</div>
        <input type="submit" value="Register">
<div id="Check">
  <h3>Password must contain the following:</h3>
  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
  <p id="number" class="invalid">A <b>number</b></p>
            <p id="special" class="invalid">A <b>Special Characters !@#$&*</b></p>
  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
</div>
    </form>
    <script>
var myInput = document.getElementById("password");
var letter = document.getElementById("letter");
var capital = document.getElementById("capital");
var number = document.getElementById("number");
var length = document.getElementById("length");
var special = document.getElementById("special");
// When the user clicks on the password field, show the message box
myInput.onfocus = function() {
  document.getElementById("Check").style.display = "block";
}


myInput.onblur = function() {
  document.getElementById("Check").style.display = "none";
}


myInput.onkeyup = function() {
  // Validate lowercase letters
  var lowerCaseLetters = /[a-z]/g;
  if(myInput.value.match(lowerCaseLetters)) {
    letter.classList.remove("invalid");
    letter.classList.add("valid");
  } else {
    letter.classList.remove("valid");
    letter.classList.add("invalid");
}

  var SpecialCharacters = /[!@#$&*]/g;
  if(myInput.value.match(SpecialCharacters)) {
    special.classList.remove("invalid");
    special.classList.add("valid");
  } else {
    special.classList.remove("valid");
    special.classList.add("invalid");
  }

  var upperCaseLetters = /[A-Z]/g;
  if(myInput.value.match(upperCaseLetters)) {
    capital.classList.remove("invalid");
    capital.classList.add("valid");
  } else {
    capital.classList.remove("valid");
    capital.classList.add("invalid");
  }


  var numbers = /[0-9]/g;
  if(myInput.value.match(numbers)) {
    number.classList.remove("invalid");
    number.classList.add("valid");
  } else {
    number.classList.remove("valid");
    number.classList.add("invalid");
  }


  if(myInput.value.length >= 8) {
    length.classList.remove("invalid");
    length.classList.add("valid");
  } else {
    length.classList.remove("valid");
    length.classList.add("invalid");
  }
}
</script>
    <style>#check {
  display:none;

  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#check p {
  padding: 10px 35px;
  font-size: 18px;
}


.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}


.invalid {
  color: black;
}

.invalid:before {
  position: relative;
  left: -35px;
}</style>
</div>
</body>
</html>
